{% extends "base_generic.html" %}

{% block content %}
<h2>content</h2>

  <p>The library has the following record counts:</p>
  <div>
    <div><strong>Books:</strong> {{ num_books }}</div>
    <div><strong>Copies:</strong> {{ num_instances }}</div>
    <div><strong>Copies available:</strong> {{ num_instances_available }}</div>
    <div><strong>Authors:</strong> {{ num_authors }}</div>
  </div>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}

